.sidebar {
  width: 240px;
  background: #061e42;;
  color: white;
  height: 100vh;
  padding: 20px;
  position: fixed;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.collapsed {
  width: 80px;
}

.sidebar-title{
  color: rgb(221, 221, 221);
  margin-bottom: 6rem;
  font-size: 1.6rem;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin-top: 1rem;
}

.sidebar li {
  margin: 10px 0;
}

.sidebar a {
  color: #ddd;
  text-decoration: none;
  display: block;
  transition: color 0.2s;
}

.sidebar a:hover {
  color: #00bcd4;
}

.sidebar .active a {
  color: #00bcd4;
  font-weight: bold;
}

.toggle-btn {
  background: transparent;
  color: #fff;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  margin-bottom: 1rem;
  transition: transform 0.3s;
}

.sidebar.collapsed .toggle-btn {
  transform: rotate(360deg);
}

.dashboard-layout {
  display: flex;
}

.dashboard-content {
  margin-left: 260px;
  padding: 20px;
  width: 100%;
  transition: margin-left 0.3s ease;
}

.sidebar.collapsed ~ .dashboard-content {
  margin-left: 100px;
}

.sidebar-link{
  color: white;
  background-color: transparent;
  border: 0;
  font-size: 1.2em;
  margin-bottom: 0.8em;
  cursor: pointer;
}