.about-us {
  font-family: 'Arial', sans-serif;
  background-color: #f5faff;
  color: #333;
  padding: 60px 20px;
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}

.about-us .container {
  max-width: 900px;
  margin-left: 10%;
}

.about-us h1 {
  color:  #0077b6;
  margin-bottom: 20px;
  font-size: 2.5em;
}

.about-us h2 {
  color: #023e8a;
  margin-top: 30px;
  margin-bottom: 10px;
  font-size: 1.8em;
}

.about-us p {
  line-height: 1.6;
  font-size: 1em;
  margin-bottom: 1.5em;
  width: 35em;
}

.about-us ul {
  display:flex;
  list-style: none;
  padding: 0;
}

.about-us li {
  font-weight: bold;
  background: #e0f7ff;
  width: 12em;
  margin-left: 1em;
  margin-top: 1em;
  padding: 8px 5px;
  border-radius: 8px;
}


.container-photo{
  margin-top: 5em;
  margin-right: 4em;
  box-shadow: 5px 5px 5px 5px rgba(0, 0, 0, 0.5);
}

.container-photo img{
  width:900px;
}