.table-container {
  width: 70vw;
  margin: 40px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 10px;
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.08);
  font-family: 'Poppins', sans-serif;
}

h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #2c3e50;
}

.add-btn {
  background-color: #009688;
  color: white;
  border: none;
  padding: 10px 15px;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 15px;
  transition: background 0.3s ease;
}

.add-btn:hover {
  background-color: #00796b;
}

.dentist-table {
  width: 100%;
  border-collapse: collapse;
}

.dentist-table th,
.dentist-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
  font-size: 14px;
}

.dentist-table th {
  background-color: #f5f5f5;
  color: #333;
}

input {
  width: 80%;
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.save-btn {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
}

.save-btn:hover {
  background-color: #2980b9;
}

.delete-btn {
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-left: 1em;
}

.update-btn{
  background-color: #061e42;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s;
  margin-left: 1em;
  margin-bottom: 0.5em;;
}

.delete-btn:hover {
  background-color: #c0392b;
}

@media (max-width: 768px) {
  .dentist-table th,
  .dentist-table td {
    font-size: 12px;
    padding: 6px;
  }

  .add-btn {
    width: 100%;
  }
}
